@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');

body {
  display: block;
  width: 98vw;
  height: 85vh;
  padding: 0;
  text-align: center;
  color: white;
  background: url("./assets/back.jpg") no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Lato', sans-serif;
}
